---
import TagsLayout from '@/layouts/TagsLayout.astro'
import TagCardGallery from '@/components/TagCardGallery.astro'
import { i18nConfig } from '@/config/i18n.config'
import { loadTagsPage } from '@/modules/Tag/Infrastructure/Frontend/TagsPageLoader'

export async function getStaticPaths() {
  const paths = []

  for (const locale of i18nConfig.locales) {
    paths.push({ params: { lang: locale } })
  }

  return paths
}

const loadPageResult = await loadTagsPage(Astro)

if (loadPageResult instanceof Response) {
  return loadPageResult
}

const { pageTitle, pageDescription, lang, tags, pagination } = loadPageResult

export const prerender = true
---

<TagsLayout pagination={pagination} lang={lang} >
  <div class="page-container flex flex-col gap-6 py-5 md:py-10">
    <h1 class="heading-1">
      {pageTitle}
    </h1>
    <p class="text-lead">
      {pageDescription}
    </p>
    <TagCardGallery
      lang={lang}
      tags={tags}
    />
  </div>
</TagsLayout>
