---
import { t } from '@/translations'
import type { Locale } from '@/config/i18n.config'

interface Props {
  lang: Locale
  title: string
  description: string
  altTitle?: string
  image?: string
  href?: string
}

const {
  lang,
  title,
  description,
  altTitle,
  image,
  href,
  ...rest
} = Astro.props

const articleCardAriaLabelTranslation = await t(lang, 'articles', 'article_card_aria_label_title', { title })

const base = 'group block overflow-hidden h-full'

let altTitleTranslation = altTitle

if (!altTitleTranslation) {
  altTitleTranslation = await t(lang, 'articles', 'article_card_image_alt_title')
}
---

{
  href ? (
    <a
      href={href}
      class={base}
      {...rest}
      aria-label={articleCardAriaLabelTranslation}
    >
      {
        image &&
          <div class="aspect-3/2 object-cover overflow-hidden rounded-md rounded-b-none">
            <img
              src={image}
              alt={altTitleTranslation}
              class="h-full w-full group-hover:scale-105 duration-300"
            />
          </div>
      }
      <div class="space-y-2 px-1 pb-2 bg-transparent group-hover:bg-app-surface rounded-b-md duration-300">
        <h3 class="heading-3 pt-4 pb-2">
          {title}
        </h3>
        <p class="text-meta line-clamp-6">
          {description}
        </p>
      </div>
    </a>
  ) : (
    <div
      class={base}
      {...rest}
      aria-label={articleCardAriaLabelTranslation}
    >
      {
        image &&
          <div class="aspect-3/2 object-cover overflow-hidden rounded-md rounded-b-none">
            <img
              src={image}
              alt={altTitleTranslation}
              class="h-full w-full group-hover:scale-105 duration-300"
            />
          </div>
      }
      <div class="space-y-2 px-1 pb-2 bg-transparent group-hover:bg-app-surface rounded-b-md duration-300">
        <h3 class="heading-3 pt-4 pb-2">
          {title}
        </h3>
        <p class="text-meta line-clamp-6">
          {description}
        </p>
      </div>
    </div>
  )
}
