---
import { t } from '@/translations'
import type { Locale } from '@/config/i18n.config'

interface Props {
  lang: Locale
  title: string
  articleCount: number
  altTitle?: string
  image?: string
  href?: string
}

const {
  lang,
  title,
  articleCount,
  altTitle,
  image,
  href
} = Astro.props

const categoryCardAriaLabelTranslation = await t(lang, 'categories', 'category_card_aria_label_title', { title })
const categoryCardArticlesCountTranslation = await t(lang, 'categories', 'category_card_articles_count', { articlesNumber: articleCount })
const base = 'group block overflow-hidden'

let altTitleTranslation = altTitle

if (!altTitleTranslation) {
  altTitleTranslation = await t(lang, 'categories', 'category_card_image_alt_title')
}
---

{
  href ? (
    <a
      href={href}
      class={base}
      aria-label={categoryCardAriaLabelTranslation}
    >
      {
        image &&
          <div class="aspect-3/2 object-cover overflow-hidden rounded-md rounded-b-none">
            <img
              src={image}
              alt={altTitleTranslation}
              class="h-full w-full group-hover:scale-105 duration-300"
            />
          </div>
      }
      <div class="space-y-1 px-1 pb-2 bg-transparent group-hover:bg-app-surface rounded-b-md duration-300">
        <h3 class="heading-3 font-bold pt-2">
          {title}
        </h3>
        <p class="text-meta">
          {categoryCardArticlesCountTranslation}
        </p>
      </div>
    </a>
  ) : (
    <div
      class={base}
      aria-label={categoryCardAriaLabelTranslation}
    >
      {
        image &&
          <div class="aspect-3/2 object-cover overflow-hidden rounded-md rounded-b-none">
            <img
              src={image}
              alt={altTitleTranslation}
              class="h-full w-full group-hover:scale-105 duration-300"
            />
          </div>
      }
      <div class="space-y-1 px-1 pb-2 bg-transparent group-hover:bg-app-surface rounded-b-md duration-300">
        <h3 class="heading-3 pt-2">
          {title}
        </h3>
        <p class="text-meta">
          {categoryCardArticlesCountTranslation}
        </p>
      </div>
    </div>
  )
}
