---
import Seo from '@/components/Seo.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { t } from '@/translations'
import { env } from '~/env.loader'
import { i18nConfig, type Locale } from '@/config/i18n.config'
import {
  buildCanonical,
  buildHreflangs,
  buildRelativeUrl
} from '@/modules/Shared/Infrastructure/Frontend/Url'

interface Props {
  lang: Locale
}

const { lang } = Astro.props

const siteBaseUrl = env.PUBLIC_SITE_BASE_URL

const canonical = buildCanonical(buildRelativeUrl(lang), siteBaseUrl)
const hreflangs = buildHreflangs(i18nConfig.locales, siteBaseUrl, (locale) => buildRelativeUrl(locale))

const title = await t(lang, 'home', 'home_page_title')
const description = await t(lang, 'home', 'home_page_description')
---

<BaseLayout lang={lang}>
  <Seo
    title={title}
    description={description}
    canonical={canonical}
    lang={lang}
    hreflangs={hreflangs}
    type={'website'}
    slot={'head'}
  />

  <main class="flex-1">
    <slot />
  </main>
</BaseLayout>
