---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Seo, { type Hreflang } from '@/components/Seo.astro'
import { getLocale, t } from '@/translations'
import { i18nConfig } from '@/config/i18n.config'

const lang = getLocale(Astro.url.pathname)

const siteBaseUrl = import.meta.env.PUBLIC_SITE_BASE_URL as string
const siteName = import.meta.env.PUBLIC_SITE_NAME as string
const canonical = `${siteBaseUrl}/${lang}/posts`

const hreflangs: Array<Hreflang> = i18nConfig.locales.map((locale) => {
  return {
    lang: locale,
    url: `${siteBaseUrl}/${locale}/posts`
  }
})

const title = await t(lang, 'posts', 'posts_page_title')
const description = await t(lang, 'posts', 'posts_page_description')
---

<BaseLayout>
  <Seo
    title={title}
    description={description}
    canonical={canonical}
    lang={lang}
    hreflangs={hreflangs}
    ogImage={'/og/posts.png'}
    type={'website'}
    slot={'head'}
    siteName={siteName}
  />
  <main>
    <slot />
  </main>
</BaseLayout>