---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Seo, { type BreadcrumbItem, type CollectionPage } from '@/components/Seo.astro'
import { t } from '@/translations'
import { env } from '~/env.loader'
import { TAGS_PATH } from '@/modules/Shared/Infrastructure/Frontend/Paths'
import { QUERY_PARAM } from '@/modules/Shared/Infrastructure/Frontend/QueryParam'
import { type Locale, i18nConfig } from '@/config/i18n.config'
import type { TagsPagePaginationData } from '@/modules/Tag/Infrastructure/Frontend/TagsPageLoader'
import {
  buildCanonical,
  buildHreflangs,
  buildRelativeUrl
} from '@/modules/Shared/Infrastructure/Frontend/Url'

interface Props {
  pagination: TagsPagePaginationData
  lang: Locale
}

const { pagination, lang } = Astro.props

const siteName = env.PUBLIC_SITE_NAME
const siteBaseUrl = env.PUBLIC_SITE_BASE_URL

const pageSearchParam = pagination.page > 1 ? new URLSearchParams(`${QUERY_PARAM.PAGE}=${pagination.page}`) : undefined

const canonical = buildCanonical(buildRelativeUrl(lang, [ TAGS_PATH ], pageSearchParam), siteBaseUrl)
const hreflangs = buildHreflangs(i18nConfig.locales, siteBaseUrl, (locale) => buildRelativeUrl(locale, [ TAGS_PATH ], pageSearchParam))

const title = await t(lang, 'tags', 'tags_page_title')
const description = await t(lang, 'tags', 'tags_page_description')
const tagsBreadCrumbTranslation = await t(lang, 'tags', 'tags_breadcrumb_title')

const breadCrumbs: Array<BreadcrumbItem> = [
  { name: siteName, url: buildCanonical(buildRelativeUrl(lang), siteBaseUrl), position: 1 },
  { name: tagsBreadCrumbTranslation, url: canonical, position: 2 },
]

// FIXME: Set the correct params when pagination is supported
let prevPageSearchParam = (pagination.page - 1) > 1 ? new URLSearchParams(`${QUERY_PARAM.PAGE}=${String(pagination.page - 1)}`) : undefined
let nextPageSearchParam = new URLSearchParams(`${QUERY_PARAM.PAGE}=${String(pagination.page + 1)}`)

const emptyCollection = pagination.tagsSlugWithTitle.length === 0

let collection: CollectionPage | undefined

if (!emptyCollection) {
  collection = {
    prev: pagination.hasPrev ? buildCanonical(buildRelativeUrl(lang, [ TAGS_PATH ], prevPageSearchParam), siteBaseUrl) : undefined,
    next: pagination.hasNext ? buildCanonical(buildRelativeUrl(lang, [ TAGS_PATH ], nextPageSearchParam), siteBaseUrl) : undefined,
    totalItems: pagination.totalItems,
    offset: pagination.offset,
    items: pagination.tagsSlugWithTitle.map((tagSlugWithTitle, index) => ({
      url: buildCanonical(buildRelativeUrl(lang, [ TAGS_PATH, tagSlugWithTitle.slug ]), siteBaseUrl),
      position: pagination.offset + index + 1,
      name: tagSlugWithTitle.title,
    }))
  }
}
---

<BaseLayout lang={lang} >
  <Seo
    title={title}
    description={description}
    canonical={canonical}
    lang={lang}
    hreflangs={hreflangs}
    type={'website'}
    slot={'head'}
    breadcrumbs={breadCrumbs}
    collection={collection}
    noIndex={emptyCollection}
  />

  <main class="flex-1">
    <slot />
  </main>
</BaseLayout>
