---
import ArticlesLayout from '@/layouts/ArticlesLayout.astro'
import ArticleCardGallery from '@/components/ArticleCardGallery.astro'
import { getLocale, t } from '@/translations'
import { type SupportedSortBy, defaultPageSize, defaultSortOrder } from '@/modules/Shared/Infrastructure/Pagination'
import container from '~/container'
import { GetArticles } from '@/modules/Article/Application/GetArticles/GetArticles'

const lang = getLocale(Astro.url.pathname)

const stringPage = Astro.url.searchParams.get('page') || '1'
let page = 1

if (!isNaN(parseInt(stringPage))) {
  page = parseInt(stringPage)
}

const sort = Astro.url.searchParams.get('sort') || ''
let sortBy: SupportedSortBy = 'date'

if (sort === 'relevance') {
  sortBy = 'relevance'
}

const getArticlesUseCase = container.resolve<GetArticles>('getArticles')

const articles = await getArticlesUseCase.get({
  locale: lang,
  sortOrder: defaultSortOrder,
  sortOption: 'date',
  pageNumber: page,
  pageSize: defaultPageSize,
  categoryId: undefined // Not used in this page
})

const h1TitleTranslation = await t(lang, 'articles', 'articles_page_h1_title')

export const prerender= false
---

<ArticlesLayout>
  <main class="container px-5 my-10 flex flex-col gap-6">
    <h1 class="text-xl font-bold">{h1TitleTranslation}</h1>
    <ArticleCardGallery
      articles={articles.articles}
      lang={lang}
      page={articles.page}
      hasNext={articles.hasNext}
      hasPrev={articles.hasPrev}
      sortBy={sortBy}
    />
  </main>
</ArticlesLayout>